.sidebar-menu .icon {
    margin-right: 7px;
}
.box-widget .icon {
    margin-right: 5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-control[readonly],fieldset[readonly] .form-control{cursor:not-allowed}
.crop-parent{
    position: relative;
    width: 100%;
    text-align: center;
}
.crop-parent > img{
    max-width: 100%;
}
.cursor-pointer{ cursor: pointer !important;}
.login-logo img{
    max-width: 100%;
}
.nowrap {
    white-space: nowrap;
}
td{
    vertical-align: middle;
}
.icon-rotate{
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.mce-widget.mce-tooltip {
    display: none !important;
}